.title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.text {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.listItem {
    margin-bottom: 15px;
    margin-left: 24px;
}