
:root{
    // color
    --color-grey: #5B5B5B;
    --color-orange: #F9B300;

    // lineHeight
    --lineHeight-title: 44px;
    --lineHeight-text: 130%;

    // background
    --background-ptofile: 100%/contain no-repeat;

    // borber
    --borber-radius4: 4px;

    // fontSize
    --fontSize-title: 35px;
}


