@import '../../styles/mixins/MyMixin.scss';

.section-info {
    margin-top: 151px;
    position: relative;
    color: #fff;

    &__bg {
        position: absolute;
        background: 100%/cover no-repeat;
        width: 100%;
        z-index: -2;
        top: -150px;
        height: 700px;
    }
    &__bg2 {
        position: absolute;
        background: 100%/cover no-repeat;
        width: 100%;
        height: 203px;
        z-index: -1;
        top: 348px;
    }

&__title {
    @include title1();
}

&__text {
    margin-top: 69px;
    @include text();
}

&__btn {
    margin-top: 70px;
    @include title3();
    @include btnAndHover(15px 48px, #fff, var(--color-orange), none, 5px, var(--color-orange), #000);
}

}