@import '../../../styles/mixins/MyMixin.scss';

.slider-arr{
    position: absolute;
    top: 50%;
    @include circle();
    z-index: 3;
    transition: all .5s;
    cursor: pointer;
    &:hover{
        transform: scale(1.2);
    }
}

.slider-prev{
    left: -60px;
}

.slider-next{
    right: -60px;
}